.dashboard{
    background-image: url(../../images/dashboard-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 40rem;
}

.addForm{
    background-color: rgba(6, 43, 253, 0.288);
    color: #fff;
    font-weight: bold;
    padding: 25px;
}