.item-price{
    align-self: center;
}
.item-price h2{
    margin: 0;
}

.quantity-box{    
    padding: 3px 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-left: 10px;
    border: .5px solid gray;
    border-radius: 50px;
    background: #f0f0f0;
    box-shadow: 12px 12px 55px #cecece,
                -12px -12px 55px #f2f2f2;
}
.quantity-box p{
    margin: 0;
}

.quantity-box .plus, .minus, .quantity{
    margin: 0 15px;
}

.quantity-box .plus, .minus{
    cursor: pointer;
}
.plus{
    color: red;
}