.login-area{
    background-image: url(../../images/bg-2.jpg);
    background-position: center;
    background-size: cover;
    min-height: 40rem;
    color: #fff;
}

.login-content{
    margin-top: 50px;
    background: rgba(248, 4, 4, 0.384);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
