.data-table{
    padding: 15px;
}
.deleteIcon{
    color: red;
}

.pagination button{
    background: gray;
    border-radius: 30px;
    margin: 5px;
    padding: 5px;
    color: #fff;
    width: 40px;
    height: 40px;

}

.pagination .selected{
    background: red;
}